APP_NAME="Laravel CRM"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=sqlite
DB_DATABASE=database/database.sqlite

LARAVEL_CRM_ROUTE_PREFIX=crm
LARAVEL_CRM_TEAMS=false
LARAVEL_CRM_ENCRYPT_DB_FIELDS=false
LARAVEL_CRM_DOCS_URL=https://github.com/MuzikayiseKhuzwayo/crm
LARAVEL_CRM_UPGRADE_GUIDE_URL=https://laravelcrm.com/docs/2.x/upgrading
